<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mapper.AssociationLibraryMapper">

	<!-- 根据表名查询数据-->
	<select id="queryNormalByTableInfo" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT * FROM ${library}.${table} where 1=1
		<if test="queryCondition != null ">
			and CONCAT(
			<foreach collection="fieldInfo" item="fieldvalue" separator=" , ">
				IFNULL(${fieldvalue},'')
			</foreach>
			)
			LIKE CONCAT('%',#{queryCondition},'%')
		</if>
	</select>

    <!-- 人社局关联查询 -->
	<select id="selectForHumanAndSocial" resultType="java.util.Map" parameterType="java.util.Map">
	  select * from RSJ.RSJ_INFO
	  where 1=1
	  <if test="queryCondition != null and queryCondition != ''">
		  AND CONCAT(IFNULL(XM,''),IFNULL(GMSFHM,'')) like CONCAT('%',#{queryCondition},'%')
	  </if>
	</select>

	<!-- 司法公正信息查询 -->
	<select id="selectForLegalJustices" resultType="java.util.Map" parameterType="java.util.Map">
	  select * from SFJ.SFJ_SFGZXX_INFO
		where 1=1
		<if test="queryCondition != null and queryCondition != ''">
			AND CONCAT(IFNULL(ORG_NAME,''),IFNULL(`NAME`,''),IFNULL(IDENTIFICATION_CARD,'')) like CONCAT('%',#{queryCondition},'%')
		</if>
	</select>

	<!-- 司法鉴定信息查询 -->
	<select id="selectForForensics" resultType="java.util.Map" parameterType="java.util.Map">
		select * from SFJ.SFJ_JDXX_INFO
		where 1=1
		<if test="queryCondition != null and queryCondition != ''">
			AND CONCAT(IFNULL(ORG_NAME,''),IFNULL(`NAME`,''),IFNULL(IDENTIFICATION_CARD,'')) like CONCAT('%',#{queryCondition},'%')
		</if>
	</select>

</mapper>