<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mapper.DZDAGLLXFSMapper">

	<!-- 根据身份证号查找关联联系方式-->
	<select id="queryByIDNumberForRelation" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT * FROM ORACLE_ES.DZDA_GLLXFS  where PSFZH = #{idNumber}
	</select>


</mapper>