<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mapper.FCQKMapper">


	<!-- 根据身份证查找房产备案信息-->
	<select id="queryForFCBAXX" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT DISTINCT t.* FROM FGJ.FCCX_FKXX_BA t JOIN FGJ.FCCX_SQXX f on t.SQXX_ID = f.ID AND f.CX_SFZ = #{idNumber}
	</select>

	<!-- 根据身份证和SQXX_ID查找房产抵押详情信息(可能有多个身份证)-->
	<select id="queryForFCDYXX" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT DISTINCT * FROM FGJ.FCCX_FKXX_DY  where DYRZJHM like CONCAT('%',#{idNumber},'%') AND SQXX_ID = #{sqxxId}
	</select>

	<!-- 根据身份证和SQXX_ID查找房产权属详情信息(可能有多个身份证)-->
	<select id="queryForFCQSXX" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT DISTINCT * FROM FGJ.FCCX_FKXX_QS  where QLRZJH like CONCAT('%',#{idNumber},'%') AND SQXX_ID = #{sqxxId}
	</select>

	<!-- 根据身份证和SQXX_ID查找房产查封详情信息-->
	<select id="queryForFCCFXX" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT DISTINCT * FROM FGJ.FCCX_FKXX_CF  where SQXX_ID = #{sqxxId}
	</select>

</mapper>