<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mapper.OracleQueryMapper">

    <!--获取详情 -->
	<select id="selectDetails" resultType="java.util.Map" parameterType="java.util.Map">
	  select * from ${dbUser}.${tableName} where ${pkColName} = #{pkColData}
	</select>

	<!--查询内容-->
	<select id="queryContent" resultType="java.util.Map" parameterType="java.util.Map">
		select DISTINCT * from ${dbUser}.${table} where ${pkColName} = #{idNumber}
	</select>

	<!--查询数量-->
	<select id="queryCounts" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(*) from ${dbUser}.${table} where ${pkColName} = #{idNumber}
	</select>

	<!--模糊查询-->
	<select id="fuzzyQuery" resultType="java.util.Map" parameterType="java.util.Map">
		select DISTINCT * from ${dbUser}.${table} where ${pkColName} like CONCAT('%',#{idNumber},'%')
	</select>

	<!--关联查询-->
	<select id="associatedQuery" resultType="java.util.Map" parameterType="java.util.Map">
		select DISTINCT t.* from ${dbUser}.${table} t join ${relatedUser}.${relatedTable} r on t.${relatedNameSelf} = r.${relatedName} where r.${pkColName} = #{idNumber}
	</select>

	<select id="queryForBFHM" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT DISTINCT BFHM FROM TXXX.YYHD WHERE SFZHM = #{idNumber}
	</select>

	<select id="queryWithYYHD" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT count(DFHM) as counts ,DFHM FROM TXXX.YYHD WHERE SFZHM = #{idNumber} GROUP BY DFHM ORDER BY counts desc
	</select>

	<select id="queryWithDXHD" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT count(MDDZ) as `count` ,MDDZ FROM TXXX.DXHD WHERE SFZHM = #{idNumber} GROUP BY MDDZ ORDER BY `count` desc
	</select>

</mapper>