<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mapper.OracleTotalCountsMapper">

    <!--查询所有用户以及用户下的表 -->
	<select id="selectAllUserAndTables" resultType="java.util.Map" parameterType="java.util.Map">
	  select tcom.OWNER,tcom.TABLE_NAME,tcom.COMMENTS
	  from all_tab_comments tcom
	  where owner = #{owner} and table_type= #{tableType}
	</select>

	<!--查询每个表的数据总数 -->
	<select id="selectCounts" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(*) from ${tableName}
	</select>

</mapper>