<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mysqlmapper.BIHJZXMapper">

	<!--汇集数据信息统计 -->
	<select id="selectByHJZXType" resultType="java.util.Map" parameterType="java.lang.String">

		select sc.`name`,sc.`key` from bus_bi_hjzx_structure sc
		where sc.structure= #{type}
	</select>

	<!--汇集数据信息统计 -->
	<select id="selectByHJZXSJFLINFO" resultType="java.util.Map" parameterType="java.util.Map">

		select br.count,br.`month`  from   bus_bi_hjzx_sjfl br
		where  br.type=#{type} and br.structure= #{structure}
	</select>
	<!--汇集数据信息统计 -->
	<select id="selectByHJZXSJFL" resultType="java.util.Map" parameterType="java.lang.String">

		select sc.`name`,sc.`from`,sc.structure,br.`month`,br.count from bus_bi_hjzx_structure sc
		join bus_bi_hjzx_sjfl br
		on sc.structure= #{type} and br.structure=sc.structure
		and sc.`key`=br.type
	</select>


	<!--各委办局数据总量 -->
	<select id="selectByHJZXSJZL" resultType="java.util.Map" parameterType="java.lang.Integer">
	      select bl.`name` as library, IFNULL(br.count,0) as `count` from bus_library bl
				left join bus_bi_hjzx_data br
				on  br.type=#{type} and bl.id=br.library
	</select>

	<!--各委办局数据增量 -->
	<select id="selectByHJZXSJAL" resultType="java.util.Map" parameterType="java.lang.Integer">

			select bl.`name` as library, IFNULL(br.count,0) as `count` from bus_library bl
				left join bus_bi_hjzx_data_zl br
				on  bl.id=br.library
	</select>




</mapper>