<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mysqlmapper.BIJCXTMapper">

	<!--汇集数据信息统计 -->
	<select id="selectByJCXTFL" resultType="java.util.Map" parameterType="java.lang.String">

		select sc.`name`,sc.structure,br.count from bus_bi_jcxt_structure sc
		join bus_bi_jcxt_sjfl br
		on sc.structure= #{type} and br.structure=sc.structure
		and sc.`key`=br.type
	</select>

	<!--汇集数据信息统计 -->
	<select id="selectByJCXTQYAJFX" resultType="java.util.Map" parameterType="java.lang.String">

		select sc.PK_COL_DATA as `name`,br.count from data_config sc
		join bus_bi_jcxt_sjfl br
		on sc.DATA_TYPE= 'areaType' and br.structure=sc.DATA_TYPE
		and sc.PK_COL_NAME=br.type
	</select>

	<!--各委办局数据增量 -->
	<select id="selectByJCXTJCRYTJ" resultType="java.util.Map" parameterType="java.lang.Integer">

		select bl.`name` as library, IFNULL(br.count,0) as `count` from bus_library bl
		left join bus_bi_jcxt_data br
		on  bl.id=br.library and br.`type`=1
	</select>



</mapper>