<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mysqlmapper.DataConfigMapper" >

  <resultMap id="BaseResultMap" type="com.ovit.jcw.model.DataConfig" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DATA_TYPE" property="dataType" jdbcType="VARCHAR" />
    <result column="PK_COL_NAME" property="pkColName" jdbcType="INTEGER" />
    <result column="PK_COL_DATA" property="pkColData" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ORDER" property="order" jdbcType="INTEGER" />
    <result column="ISENABLE" property="isEnable" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, DATA_TYPE,PK_COL_NAME,PK_COL_DATA,REMARK,`ORDER`,ISENABLE CREATE_TIME
  </sql>

  <select id="query" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from data_config
    where DATA_TYPE = #{dataType,jdbcType=VARCHAR}
    order by `ORDER`
  </select>

  <select id="queryData" resultType="java.lang.String" parameterType="java.lang.String" >
  select PK_COL_DATA
  from data_config
  where DATA_TYPE = #{dataType,jdbcType=VARCHAR}
  order by `ORDER`
</select>

  <!--<select id="queryList" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from data_config
    where 1=1
    <if test="pkColName != null and pkColName != ''">
      AND PK_COL_NAME =#{pkColName,jdbcType=VARCHAR}
    </if>
    <if test="dataType != null and dataType != ''">
      AND DATA_TYPE = #{dataType,jdbcType=VARCHAR}
    </if>

  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from data_config
    where ID = #{id,jdbcType=INTEGER}
  </select>-->

</mapper>