<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mysqlmapper.SystemRoleMapper" >
  <resultMap id="BaseResultMap" type="com.ovit.jcw.model.SystemRole" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="SelectResultMap" type="com.ovit.jcw.model.SystemRole" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <collection property="systemRuleList" column="ID" select="com.ovit.jcw.mysqlmapper.SystemRuleMapper.selectByRoleId"></collection>
  </resultMap>

  <sql id="Base_Column_List" >
    ID,ROLE_NAME,PID,REMARK,STATUS,CREATE_TIME,UPDATE_TIME
  </sql>

  <select id="selectByPrimaryKey" resultMap="SelectResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from system_role
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="query" resultMap="SelectResultMap">
    select
    <include refid="Base_Column_List" />
    from system_role
    ORDER BY ID DESC
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from system_role
    ORDER BY ID DESC
  </select>

  <select id="selectByLoginName" resultMap="SelectResultMap" parameterType="java.lang.String">
    select t.*
    from system_role t
    JOIN user_role ur on t.ID = ur.ROLE_ID AND  ur.USER_NAME = #{userName,jdbcType=VARCHAR}
  </select>

  <select id="selectDetailByLoginUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select t.*
    from system_role t
    JOIN user_role ur on t.ID = ur.ROLE_ID AND  ur.USER_ID = #{userId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_role
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByRoleId" parameterType="java.lang.Integer" >
    delete from role_rule
    where ROLE_ID = #{roleId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ovit.jcw.model.SystemRole" >
    insert into system_role (ROLE_NAME)
    values (#{roleName,jdbcType=VARCHAR})
  </insert>

  <insert id="insertRoleRuleTable" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.Map" >
    insert into role_rule (ROLE_ID,RULE_ID)
    values (#{roleId,jdbcType=INTEGER},#{ruleId,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.ovit.jcw.model.SystemRole" >
    update system_role
    set
    ROLE_NAME = #{roleName,jdbcType=VARCHAR},
    update_time = now()
    where ID = #{id,jdbcType=INTEGER}
  </update>

</mapper>