<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mysqlmapper.UserMapper">

	<resultMap id="BaseResultMap" type="com.ovit.jcw.model.User" >
		<id column="loginuser_id" property="loginUserId" jdbcType="INTEGER" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="is_lock" property="isLock" jdbcType="VARCHAR" />
		<result column="is_first_login" property="isFirstLogin" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="BaseUserResultMap" type="com.ovit.jcw.model.BasicUser" >
		<id column="loginuser_id" property="loginUserId" jdbcType="INTEGER" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="is_lock" property="isLock" jdbcType="VARCHAR" />
		<result column="is_first_login" property="isFirstLogin" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="SelectResultMap" type="com.ovit.jcw.model.User" >
		<id column="loginuser_id" property="loginUserId" jdbcType="VARCHAR" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="is_lock" property="isLock" jdbcType="VARCHAR" />
		<result column="is_first_login" property="isFirstLogin" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<collection property="systemRoleList" column="login_name" select="com.ovit.jcw.mysqlmapper.SystemRoleMapper.selectByLoginName"></collection>
	</resultMap>

	<resultMap id="DetailResultMap" type="com.ovit.jcw.model.User" >
		<id column="loginuser_id" property="loginUserId" jdbcType="VARCHAR" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="is_first_login" property="isFirstLogin" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<collection property="systemRoleList" column="loginuser_id" select="com.ovit.jcw.mysqlmapper.SystemRoleMapper.selectDetailByLoginUserId"></collection>
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="SelectResultMap" parameterType="java.lang.String" >
		select *
		FROM system_login_user
		where loginuser_id = #{loginUserId,jdbcType=VARCHAR}
	</select>

	<select id="query" resultMap="SelectResultMap" parameterType="java.util.Map">
		select t.*
		from system_login_user t
		WHERE 1=1
		<if test="roleId != null and roleId != ''">
			AND (SELECT COUNT(1) AS num FROM
			user_role ur
			WHERE ur.ROLE_ID = #{roleId,jdbcType=INTEGER} and ur.USER_NAME = t.login_name) > 0
		</if>
		<if test="userName != null and userName != ''">
			AND t.user_name like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
		</if>
		<if test="(startTime != null and startTime != '') and (endTime != null and endTime != '') ">
			AND t.create_date BETWEEN #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR}
		</if>
		<if test="opt == 1">
			AND to_days(t.create_date) = to_days(now())
		</if>
		<if test="opt == 2">
			AND TO_DAYS(NOW()) - TO_DAYS(t.create_date) = 1
		</if>
		<if test="opt == 4">
			AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt; date(t.create_date)
		</if>
		<if test="opt == 5">
			AND DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt; date(t.create_date)
		</if>
		ORDER BY t.create_date DESC
	</select>

	<select id="queryUserByLoginName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select * FROM system_login_user where login_name = #{loginName}
	</select>

	<select id="authBasicUser" resultMap="BaseUserResultMap" parameterType="java.util.Map">
		select * FROM system_login_user where login_name = #{loginName} and login_password = #{loginPassword}
	</select>

	<select id="authUser" resultMap="BaseResultMap" parameterType="java.util.Map">
		select * FROM system_login_user where login_name = #{loginName} and login_password = #{loginPassword}
	</select>

	<select id="selectLoginName" resultType="java.lang.String">
		select login_name FROM system_login_user WHERE is_first_login = 'N' AND is_lock = 'N'
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
		delete from system_login_user
		where loginuser_id = #{id,jdbcType=VARCHAR}
	</delete>

	<delete id="deleteByUserId" parameterType="java.lang.String" >
		delete from user_role
		where USER_ID = #{userId,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.ovit.jcw.model.User" >
		insert into system_login_user (loginuser_id,login_name,login_password,user_name)
		values (#{loginUserId,jdbcType=VARCHAR},#{loginName,jdbcType=VARCHAR},#{loginPassword,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR})
	</insert>

	<insert id="insertUserRoleTable" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.Map" >
		insert into user_role (USER_ID,USER_NAME,ROLE_ID)
		values (#{userId,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{roleId,jdbcType=INTEGER})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.ovit.jcw.model.User" >
		update system_login_user
		set
		login_password = #{loginPassword,jdbcType=VARCHAR},
		user_name = #{userName,jdbcType=VARCHAR},
		update_time = now()
		where loginuser_id = #{loginUserId,jdbcType=VARCHAR}
		AND login_name = #{loginName,jdbcType=VARCHAR}
	</update>

	<update id="updatePassword" parameterType="com.ovit.jcw.model.User" >
		update system_login_user
		set
		login_password = #{loginPassword,jdbcType=VARCHAR},
		is_first_login = #{isFirstLogin,jdbcType=VARCHAR},
		update_time = now()
		where login_name = #{loginName,jdbcType=VARCHAR}
	</update>

	<update id="updateIsLock" parameterType="com.ovit.jcw.model.User" >
		update system_login_user
		set
		is_lock = #{isLock,jdbcType=VARCHAR},
		update_time = now()
		where login_name = #{loginName,jdbcType=VARCHAR}
	</update>

</mapper>