<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mysqlmapper.BIWJZXMapper">

	<!--历史趋势情况 -->
	<select id="selectByLSQSQK" resultType="java.util.Map" >
		select t.`month`
		,SUM(t.inspect_count) as inspectCount
		,SUM(t.problem_count) as problemCount
		from y_view_bus_bi_wjzx_sjzl t
		GROUP  BY t.`month`
	</select>

	<!--数据质量情况 -->
	<select id="selectBySJZLQK" resultType="java.util.Map" >
		select *,
		(case t.inspectCount when 0 then 0 else t.problemCount*100/t.inspectCount end)
		as proportion from (select SUM(t.inspect_count) as inspectCount
		,SUM(t.problem_count) as problemCount
		from y_view_bus_bi_wjzx_sjzl t ) t
	</select>

	<!--发生率历史趋势情况 -->
	<select id="selectByFSLQSQK" resultType="java.util.Map" >
		select t.`month`, (case t.inspectCount when 0 then 0 else t.problemCount*100/t.inspectCount end)
		as proportion from (select t.`month`
		,SUM(t.inspect_count) as inspectCount
		,SUM(t.problem_count) as problemCount
		from y_view_bus_bi_wjzx_sjzl t
		GROUP  BY t.`month`) t
	</select>

	<!--各委办局问题数据占比top -->
	<select id="selectByWBJSJZB" resultType="java.util.Map" >
		select * from (select l.`name` as libraryName,t.library, (case t.inspectCount when 0 then 0 else t.problemCount*100/t.inspectCount end)
		as proportion from (select library
		,SUM(t.inspect_count) as inspectCount
		,SUM(t.problem_count) as problemCount
		from y_view_bus_bi_wjzx_sjzl t
		GROUP  BY t.library) t join bus_library l
		on t.library=l.id) s order by s.proportion desc
	</select>

	<!--问题数据分类占比 -->
	<select id="selectByWTSJFLZB" resultType="java.util.Map" >
		  select l.`name` as typeName,t.type, (case t.inspectCount when 0 then 0 else t.problemCount*100/t.inspectCount end)
		as proportion from (select type
		,SUM(t.inspect_count) as inspectCount
		,SUM(t.problem_count) as problemCount
		from y_view_bus_bi_wjzx_sjfl t where t.structure='sjfl'
		GROUP  BY t.type) t join bus_bi_wjzx_structure l
		on t.type=l.`key` and l.structure='sjfl'
	</select>


	<!--数据质量情况分析 -->
	<select id="selectBySJZLQKFX" resultType="java.util.Map" >
		  select l.`name` as typeName,t.type,t.problemCount
		  from (select type, SUM(t.problem_count) as problemCount
		from y_view_bus_bi_wjzx_sjfl t  where t.structure='zlfxlx'
		GROUP  BY t.type) t left join bus_bi_wjzx_structure l
		on t.type=l.`key` and l.structure='zlfxlx'
	</select>

</mapper>