<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mapper.DZDASBXXMapper">

	<!-- 根据身份证号查找社保信息-->
	<select id="queryForGRSBXX" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT t.*,l.*,k.CARDNO FROM RSJ.ZWY_RYXX_GRJBXX t left join RSJ.ZWY_RYXX_YLGRZHXX l on t.GRBH = l.GRBH LEFT JOIN RSJ.ZWY_RYXX_KXX k on t.GMSFHM = k.GMSFHM WHERE t.GMSFHM = #{idNumber}
	</select>

</mapper>