<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mapper.GABYMapper">


	<!-- 根据表名和身份证查询数据-->
	<select id="queryDataByTable" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT * FROM GABY.${table}  where SFZH = #{sfzh}
   </select>

	<!-- 根据表名和身份证删除数据-->
	<delete id="deleteDataByTable"  parameterType="java.util.Map">
		delete from GABY.${table}  where SFZH = #{sfzh}
	</delete>

	<!-- 根据表名和身份证删除数据-->
	<delete id="deleteList"  parameterType="java.util.Map">
		delete from GABY.${table}
		<where>
			<foreach collection="list"  item="item" open="(" separator="or" close=")">
				SFZH=#{sfzh}
			</foreach>
		</where>
	</delete>

	<!-- 根据表名和身份证插入数据-->
	<insert id="insertData" parameterType="java.util.Map">
	     insert into GABY.${table}
			<foreach collection="map.keys" separator="," item="key" open="(" close=")">
				${key}
			</foreach>
				values
			<foreach collection="map.keys" item="key" separator="," open="(" close=")">
			#{map[${key}]}
			</foreach>
	</insert>

</mapper>