<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mapper.JTZYCYXXMapper">
	<!-- 根据卡号查找-->
	<select id="QueryByCard" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT * FROM ORACLE_ES.DZDA_JTZYCYXX  where PSFZH = #{card}
	</select>

	<!-- 根据身份证号匹配男方或女方身份证查找信息-->
	<select id="queryForHYXX" resultType="java.util.Map" parameterType="java.lang.String">
        select DISTINCT * from GABY.JCXX_HYZKXX where SFZH = #{idNumber} ORDER BY DJRQ ASC
	</select>

    <!-- 根据身份证号去查找婚姻关系-->
    <select id="queryForHYXXByMZJ" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT DISTINCT * FROM MZJ.HYDJ WHERE SFZH = #{idNumber}
    </select>

    <!-- 根据身份证号去查找机构人员信息-->
    <select id="queryForHYXXByJGBZ" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT DISTINCT ZWMC,JGJC FROM JGBZ.WHSJGRYXX WHERE ZJHM = #{idNumber}
    </select>

    <!-- 根据身份证号查找子女信息（户籍人口表）-->
    <select id="queryForHJZNXX" resultType="java.util.Map" parameterType="java.lang.String">
        select DISTINCT * FROM WJW.PEOPLE_ZNXX WHERE SFZH = #{idNumber}
    </select>

    <!-- 根据身份证号查找子女信息（流动人口表）-->
    <select id="queryForLDZNXX" resultType="java.util.Map" parameterType="java.lang.String">
        select DISTINCT * FROM WJW.LDRKSJ_ZNXX WHERE SFZH = #{idNumber}
    </select>

</mapper>