<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.jcw.mapper.SYYHDMapper">


	<select id="selectDetail" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT DISTINCT * FROM oracle_es.DZDA_SHQYGX_YYHD WHERE PSFZH = #{idNumber} and DFHM = #{YY}
	</select>

	<!-- 根据根据身份证号查找对方号码-->
	<select id="selectForDFHM" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT DISTINCT DFHM FROM oracle_es.DZDA_SHQYGX_YYHD where PSFZH = #{idNumber}
	</select>

	<!-- 根据根据身份证号查找本方号码-->
	<select id="selectForBFHM" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT DISTINCT BFHM FROM TXXX.YYHD where SFZHM = #{idNumber}
	</select>

	<!-- 根据身份证号查找通话记录-->
	<select id="queryByIdNumber" resultType="java.util.Map" parameterType="java.lang.String">
		SELECT DISTINCT * FROM TXXX.YYHD where SFZHM = #{idNumber}
	</select>

</mapper>